<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalDispatch">
        <activity
            android:name=".GTDispatch.GTDispatchView"
            android:exported="false" />
        <activity
            android:name=".GTDispatch.GTDispatchSummary"
            android:exported="false" />
        <activity
            android:name=".GTDispatch.GTDispatchDetails"
            android:exported="false" />
        <activity
            android:name=".GTDispatch.CreateHeaderGTDispatch"
            android:exported="false" />
        <activity
            android:name=".GTDispatch.GTDDispatch"
            android:exported="false" />
        <!--
         =====================================================
             SPLASH SCREEN
             =====================================================
        -->
        <activity
            android:name=".Login.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
 =====================================================
             LOGIN
             =====================================================
        -->
        <activity
            android:name=".Login.LoginActivity"
            android:exported="false" />
        <!--
 =====================================================
             DASHBOARD
             =====================================================
        -->
        <activity
            android:name=".Login.Dashboard"
            android:exported="false" />
        <!--
 =====================================================
             MAIN ACTIVITY
             =====================================================
        -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <!--
 =====================================================
             DISPATCH
             =====================================================
        -->
        <activity
            android:name=".Dispatch.Dispatch"
            android:exported="false" />
        <activity
            android:name=".Dispatch.DispatchDetails"
            android:exported="false" />
        <activity
            android:name=".Dispatch.DispatchView"
            android:exported="false" />
        <activity
            android:name=".Dispatch.DispatchSummary"
            android:exported="false" />
        <activity
            android:name=".Dispatch.CreateHeaderDispatch"
            android:exported="false" />
        <!--
 =====================================================
             RECEIPT
             =====================================================
        -->
        <activity
            android:name=".Receipt.Receipt"
            android:exported="false" />
        <activity
            android:name=".Receipt.ReceiptDetails"
            android:exported="false" />
        <activity
            android:name=".Receipt.ReceiptView"
            android:exported="false" />
        <activity
            android:name=".Receipt.ReceiptSummary"
            android:exported="false" />
        <!--
 =====================================================
             PSW DISPATCH
             =====================================================
        -->
        <activity
            android:name=".PSWDispatch.PswDispatch"
            android:exported="false" />
        <activity
            android:name=".PSWDispatch.PSWDispatchDetails"
            android:exported="false" />
        <activity
            android:name=".PSWDispatch.PSWDispatchView"
            android:exported="false" />
        <activity
            android:name=".PSWDispatch.PSWDispatchSummary"
            android:exported="false" />
        <activity
            android:name=".PSWDispatch.CreateHeaderPSWDispatch"
            android:exported="false" />
        <!--
 =====================================================
             PSW RECEIPT
             =====================================================
        -->
        <activity
            android:name=".PSWReceipt.PswReceipt"
            android:exported="false" />
        <activity
            android:name=".PSWReceipt.PSWReceiptDetails"
            android:exported="false" />
        <activity
            android:name=".PSWReceipt.PSWReceiptView"
            android:exported="false" />
        <activity
            android:name=".PSWReceipt.PSWReceiptSummary"
            android:exported="false" />
        <!--
 =====================================================
             GTD DISPATCH
             =====================================================
        -->
        <activity
            android:name=".GTDispatch.GtdDispatch"
            android:exported="false" />
    </application>

</manifest>